@import url("https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  overflow-x: hidden;
}

.button {
  color: hsl(13, 100%, 96%);
  background: hsl(12, 88%, 59%);
  box-shadow: 0px 5px 12px 0px #ffc5ba;
  min-width: 100px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 150px;
  padding: 0 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__menu-item:not(:first-child) {
  margin-left: 25px;
}

.header__menu-item a {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 14px;
}

.header__button {
  width: 140px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
}

.intro {
  display: flex;
  padding: 40px 100px;
}

.intro__left {
  flex: 1;
  align-self: center;
}

.intro__title {
  color: hsl(228, 39%, 23%);
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
}

.intro__subtitle {
  color: hsl(227, 12%, 61%);
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  width: 340px;
  margin-top: 40px;
}

.intro__button {
  width: 150px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  margin-top: 40px;
}

.intro__right {
  flex: 1;
}

.product {
  display: flex;
  padding: 40px 100px;
}

.product__left {
  flex: 1;
}
.product__right {
  flex: 1;
}

.product__title {
  color: hsl(228, 39%, 23%);
  font-size: 38px;
  line-height: 40px;
}

.product__subtitle {
  color: hsl(227, 12%, 61%);
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  width: 340px;
  margin-top: 40px;
}

.product__topic {
  display: flex;
  align-items: flex-start;
}

.product__topic:not(:last-child) {
  margin-bottom: 40px;
}

.topic__number {
  color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 35px;
  border-radius: 50px;
  background: hsl(12, 88%, 59%);
}

.topic__content {
  margin-left: 30px;
}

.topic__title {
  color: hsl(228, 39%, 23%);
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

.topic__description {
  color: hsl(227, 12%, 61%);
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  width: 340px;
  margin-top: 15px;
}

.customers {
  padding: 40px 0;
}

.customers__title {
  text-align: center;
  color: hsl(228, 39%, 23%);
  font-size: 38px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 100px;
}

.customers__card {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: 200px;
  background: hsl(0, 0%, 98%);
}

.card__avatar {
  width: 64px;
  height: 64px;
  align-self: center;
  transform: translateY(-50%);
}

.card__title {
  text-align: center;
  color: hsl(228, 39%, 23%);
  font-size: 16px;
}

.card__description {
  align-self: center;
  color: hsl(227, 12%, 61%);
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  margin-top: 15px;
}
